log.txt
/dir1
/dir2

/.idea
/pycharm/*
/.pytest_cache
/.vscode
/.venv
/venv
.hintrc
*backup copy.py
fix_subs b.py
*copy.*
test_argparse.py
*.log
*.ipynb
test_year_pattern.py
test_folder_renames.py
*.code-workspace*
*bup*
*.bup
*.sav
*.bak